/* Change header text */
h2 {
  font-family: Times;
  font-size: 38px;
  color: #1c3b61;
  font-weight: bold;
}

/* Text inside 'About this Shiny app' tab */
h3 {
  font-family: Times;
  font-size: 28px;
  color: #1c3b61;
  font-weight: bold;
}

/* selectInput Label */
.control-label {
  font-family: Arial;
  color: #1c3b61;
}
